/* header  */
.header img{
  width: 100%;
  height: 70px;
  object-fit: contain;
}
.header a{
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  text-align: center;
}
.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-one);
  z-index: 1000;
  position: sticky;
  top:0


}
.header ul li {
  padding: 30px 0;
  text-align: center;
}
.header ul li:hover{
  background-color: aquamarine;
  transition: all 0.6s;


}
.header .row {
  align-items: center;
}
.header .inner-contact,.inner-dn{
  display: flex;
  align-items: center;
  justify-content: center
}
.header .inner-phone,.inner-sign{
  margin-left: 10px;

}
@media (max-width:991.98px) {
  .header .inner-list{
    display: none;
  }
}
/* end header  */

/* section1  */
.section1 {
  background-image: url(../image/gioithieu1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0;
  background-size: cover;
  padding-top: 100px;
  margin-bottom: 100px;
  
}

.section1 .inner-wrap{
  align-items: center;
}
.section1 .inner-wrap .inner-desc{
  font-size: 65px;
  text-transform: uppercase;
  color: #ffc107;
  font-weight: 800;
  text-align: center;
}
.section1 .inner-wrap .inner-content{
  font-size: 20px;
  text-align: center;
  padding: 0 50px;
  width: 80%;
  margin: 0 auto;
  color:#fff;
  font-weight: 500;

}
.section1 .button{
  /* background-color: #ffc107; */
  margin-top: 50px;
  text-align: center;
}
.section1 .button button{
  width: 50%;
}
/* button  */
button {
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: aqua;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.6s;
}
button:hover{
  background: #4507ff;
  color: #fff;
}
/* end button  */

/* end section1  */



/* section3  */
.section3 {
  padding: 60px 0;
  background-color: var(--color-text);
  padding-top: 40px;

}
.section3 .inner-header{
  color: yellow;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section3 a{
  color: #000;
  text-decoration: none;
 
}
.section3 .mp{
  margin-bottom: 30px;
}
.section3 .inner-box .inner-image{
  width: 100%;
  height: auto;
}
.section3 .inner-box .inner-image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.section3 .inner-sales{
  color:red;
  font-size: 27px;
  font-weight: 700;
  margin-top: 20px;
  padding-left: 15px;
  line-height: 1;
  margin-bottom: 13px;
  
}
.section3 .inner-sales span{
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
.section3 .inner-box {
  background-color: #ffff;
  border-radius: 15px;
  padding-bottom: 30px;

}
.section3 .inner-box .inner-name{
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.section3 .inner-content{
  background-color:#F2F4FA;
  margin: 0px 15px;
  border-radius: 15px;
  padding: 15px;
  font-size: 14px;
  
}
.section3 .inner-content .content1{
  display: flex;
  align-items: center;
  
}
.section3 .inner-content .content1 .inner-speed{
  display: flex;
  align-items: center;
  width: 50%;

}
.section3 .inner-content .content1 .inner-speed .inner-image{
  width: 15px;
  height: auto;
  margin-right: 6px;
}
.section3 .inner-content .content1 .inner-speed .inner-image img{
  width: 100%;
  height: 100%;
}
.section3 .add{
  background-color: aqua;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  max-width: 20%;
  margin: 0 auto;
}
.section3 .add:hover{
  background-color: blanchedalmond;
  color: #000;
}
@media (max-width:767.98px) {
  .section3 .add{
    max-width: 50%;
  }
}



/* end section3  */


/* section-end  */
.section-end {
  padding: 30px;
  padding-bottom: 0;
  background-color: #2340C4;
}
.section-end .inner-sub {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.section-end .inner-desc{
  color: #fff;
  text-align: center;
  
}
.section-end .box1{
  align-items: center;
}
.section-end .inner-email{
  margin-bottom: 30px;
}
.section-end .inner-email #email {
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 100%;

  
}
.section-end .inner-email, .inner-button {
  text-align: center;
}
.section-end .inner-button button{
  padding: 12px 30px;
  width: 100%;
  font-size: 18px;
}

/* end  section-end */

/*end  */
.end {
background-color: #2340C4;
padding-bottom: 30px;

}
.end .inner-image{
  width: 100%;
  height: auto;
}
.end .inner-image img{
  width: 100%;
  height: 100%;
}
.end .inner-logo .inner-desc{
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}
.end .inner-sevice{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.end .inner-sevice a{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
}
.end .box{
  /* align-items: center; */
  justify-content: center;
}
.end .inner-contact .inner-row{
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-align: left;
}
.end .iner-desc{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-top: 0;

}
.end .inner-contact .row{
  justify-content: center;
}
.end .inner-contact .inner-icon{
  text-align: right;
}
@media (max-width:767.98px) {
  .end .iner-desc{
    margin-top: 30px;
  }
}

/* end end  */

/* footer  */
footer {
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 15px;
}
footer p{
  margin-bottom: 0;
}
/* end footer */
